 <!-- Page Content -->
    <div class="content">
        <div class="cards" >
            <img src="https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" style="height: 200px;" class="card-img-top" alt="...">
            <div class="profile-image-containers">
            <img src="https://randomuser.me/api/portraits/women/44.jpg" class="profile-images" alt="">
            </div>
            <div class="card-bodys">
                <h5 class="card-title">Nathasha perera</h5>
              <p class="card-text">About admin</p>
              <a href="#" class="buttone" id="btn edit">Edit Profile</a>
            </div>
        </div>

        <div class="card mt-3">
            <form class="forms">
                <div class="row ms-5 mt-3">
                    <div class="col-md-5 ms-1">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" class="form-control ms-3" id="firstName" value="Oliver" disabled>
                    </div>
                    <div class="col-md-5 ms-xxl-5">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control ms-3" id="lastName" value="Queen" disabled>
                    </div>
                </div>
                <div class="row mt-3 ms-5">
                    <div class="col-md-5 ms-1">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control ms-3" id="username" value="oliverQueen"disabled>
                    </div>
                    <div class="col-md-5 ms-1  ms-xxl-5">
                        <label for="status" class="form-label">Status</label>
                        <input type="text" class="form-control ms-3 " id="status" value="Active" disabled>
                    </div>
                </div>
                <div class="row mt-3 ms-5">
                    <div class="col-md-5 ms-1">
                        <label for="email" class="form-label">Billing Email</label>
                        <input type="email" class="form-control ms-3" id="email" value="oliverQueen@gmail.com" disabled>
                    </div>
                    <div class="col-md-5 ms-1  ms-xxl-5">
                        <label for="contact" class="form-label">Contact</label>
                        <input type="text" class="form-control ms-3" id="contact" value="+94 099 334 5422" disabled>
                    </div>
                </div>
                <div class="row mt-3 ms-5">
                    <div class="col-md-5 ms-1">
                        <label for="zip" class="form-label">Zip Code</label>
                        <input type="text" class="form-control ms-3" id="zip" value="8894" disabled>
                    </div>
                    <div class="col-md-5 ms-1  ms-xxl-5">
                        <label for="zip" class="form-label">Address</label>
                        <input type="text" class="form-control ms-3" id="address" value="Colombo 07"disabled>
                    </div>
                </div>
                <div class="row mt-3 ms-5">
                    <div class="col-md-5 ms-1">
                        <label for="zip" class="form-label">City</label>
                        <input type="text" class="form-control ms-3" id="city" value="Sri lanka"disabled>
                    </div>

                </div>
            </form>
        </div>
    </div>
