
<div>
<div class="card">
    <div class="card-body"><br><br>
        <h3 class="topic">Yasho &  Yomal's Wedding Day <br></h3>
        <h6>23rd January 2025</h6> <br><br>
        <p>As the photographer for Yasho and Yomal's Wedding Day on 23rd January 2025, I captured the joyous moments of their special day, from the heartfelt vows to the celebratory smiles. Every frame told the story of their love, laughter, and the beginning of their beautiful journey together.</p>
    </div>
  </div>

    <div class="event-section">
        <div class="card mb-4">
            <div class="card-body">
                <div class="row g-3">

                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="card">
                            <img src="/img-Previous-Work/wedding1.jpg" class="card-img-top img-fluid" alt="Wedding 1">
                            <div class="card-body">
                                                           </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="card">
                            <img src="/img-Previous-Work/D-Wed-img2.jpg" class="card-img-top img-fluid" alt="Wedding 2">
                            <div class="card-body">
                           </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="card">
                            <img src="/img-Previous-Work/D-Wed-img1.jpg" class="card-img-top img-fluid" alt="Wedding 3">
                            <div class="card-body"></div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="card">
                            <img src="/img-Previous-Work/D-Wed-img3.jpg" class="card-img-top img-fluid" alt="Wedding 1">
                            <div class="card-body"></div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="card">
                            <img src="/img-Previous-Work/D-Wed-img4.jpg" class="card-img-top img-fluid" alt="Wedding 2">
                            <div class="card-body">
                           </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="card">
                            <img src="/img-Previous-Work/D-Wed-img5.jpg" class="card-img-top img-fluid" alt="Wedding 3">
                            <div class="card-body"></div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="card">
                            <img src="/img-Previous-Work/D-Wed-img6.jpg" class="card-img-top img-fluid" alt="Wedding 1">
                            <div class="card-body">
                                                           </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="card">
                            <img src="/img-Previous-Work/D-Wed-img7.jpg" class="card-img-top img-fluid" alt="Wedding 2">
                            <div class="card-body">
                           </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="card">
                            <img src="/img-Previous-Work/D-Wed-img8.jpg" class="card-img-top img-fluid" alt="Wedding 3">
                            <div class="card-body"></div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="card">
                            <img src="/img-Previous-Work/D-Wed-img9.jpg" class="card-img-top img-fluid" alt="Wedding 1">
                            <div class="card-body">
                                                           </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="card">
                            <img src="/img-Previous-Work/D-Wed-img10.jpg" class="card-img-top img-fluid" alt="Wedding 2">
                            <div class="card-body">
                           </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="card">
                            <img src="/img-Previous-Work/D-Wed-img11.jpg" class="card-img-top img-fluid" alt="Wedding 3">
                            <div class="card-body"></div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>
