<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Layout</title>

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="profile-view.component.css">
    
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar">
        <a href="#" class="logo">EvoPlan</a>
        
        <div class="nav-links">
            <a href="#">Home</a>
            <a href="#">Event</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </div>

        <div class="nav-icons">
            <i class="bi bi-bell-fill"></i>
            <i class="bi bi-envelope"></i>
            <img src="https://randomuser.me/api/portraits/women/44.jpg" alt="User" class="profile-pic">
        </div>
    </nav>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Profile Section -->
        <div class="profile">
            <img src="https://randomuser.me/api/portraits/women/44.jpg" alt="User">
            <h3>Aster Seawalker</h3>
            <p>asterseawalkergmail.com</p>
        </div>

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li><a href="#" class="sidebar-link"><i class="bi bi-house-door"></i> Dashboard</a></li>
            <li><a href="#" class="sidebar-link"><i class="bi bi-person"></i> User</a></li>
            <li><a href="#" class="sidebar-link"><i class="bi bi-box-seam"></i> Packages</a></li>
            <li><a href="#" class="sidebar-link"><i class="bi bi-calendar-check"></i> Bookings</a></li>
            <li><a href="#" class="sidebar-link"><i class="bi bi-archive"></i> Inventory</a></li>
            <li><a href="#" class="sidebar-link"><i class="bi bi-chat-text"></i> Blogs</a></li>
            <li><a href="#" class="sidebar-link"><i class="bi bi-cash-stack"></i> Payments</a></li>
            <li><a href="#" class="sidebar-link"><i class="bi bi-envelope"></i> Messages</a></li>
            <li><a href="#" class="sidebar-link"><i class="bi bi-star"></i> Review</a></li>
            <li><a href="#" class="sidebar-link"><i class="bi bi-box-arrow-right"></i> Log Out</a></li>
        </ul>
        
    </div>


    <!-- Page Content -->
    <div class="content">
        <div class="card" >
            <img src="/profile/login.jpg" style="height: 200px;" class="card-img-top" alt="...">
            <div class="profile-image-container">
            <img src="/profile/profile.jpg" class="profile-image" alt="">
            </div>
            <div class="card-body">
                <h5 class="card-title">Praneeth</h5>
              <p class="card-text">About Supplier.</p>
              <a href="#" class="btn btn-primary edit-button" id="btn edit">Edit Profile</a>
            </div>
        </div>

        <div class="card mt-3">
            <form class="form">
                <div class="row ms-5 mt-3">
                    <div class="col-md-5 ms-1">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" class="form-control ms-3" id="firstName" value="Oliver" disabled>
                    </div>
                    <div class="col-md-5 ms-xxl-5">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control ms-3" id="lastName" value="Queen" disabled>
                    </div>
                </div>
                <div class="row mt-3 ms-5">
                    <div class="col-md-5 ms-1">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control ms-3" id="username" value="oliverQueen"disabled>
                    </div>
                    <div class="col-md-5 ms-1  ms-xxl-5">
                        <label for="status" class="form-label">Status</label>
                        <input type="text" class="form-control ms-3 " id="status" value="Active" disabled>
                    </div>
                </div>
                <div class="row mt-3 ms-5">
                    <div class="col-md-5 ms-1">
                        <label for="email" class="form-label">Billing Email</label>
                        <input type="email" class="form-control ms-3" id="email" value="oliverQueen@gmail.com" disabled>
                    </div>
                    <div class="col-md-5 ms-1  ms-xxl-5">
                        <label for="contact" class="form-label">Contact</label>
                        <input type="text" class="form-control ms-3" id="contact" value="+94 099 334 5422" disabled>
                    </div>
                </div>
                <div class="row mt-3 ms-5">
                    <div class="col-md-5 ms-1">
                        <label for="zip" class="form-label">Zip Code</label>
                        <input type="text" class="form-control ms-3" id="zip" value="8894" disabled>
                    </div>
                    <div class="col-md-5 ms-1  ms-xxl-5">
                        <label for="zip" class="form-label">Address</label>
                        <input type="text" class="form-control ms-3" id="address" value="Colombo 07"disabled>
                    </div>
                </div>
                <div class="row mt-3 ms-5">
                    <div class="col-md-5 ms-1">
                        <label for="zip" class="form-label">City</label>
                        <input type="text" class="form-control ms-3" id="city" value="Sri lanka"disabled>
                    </div>
                   
                </div>
            </form>
        </div>
          

    </div>

 
    



    
    

</body>
</html>