 
<div class="container">
    <h2>Rating & Reviews</h2>
    <div class="stats-container">
        <div class="stat">
            <p class="big-text m-3" >10.0K</p>
            <p class="sub-text">Growth in reviews on this year</p>
        </div>
        <div class="stat">
            <p class="big-text m-3">4.0
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i> 
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
            </p>
            <p class="sub-text">Average Rating On  Year</p>
        </div>
        <div>
           December 2024- February 2025

            <div class="rating-chart ">
                <div class="rating-bar"><span><i class="bi bi-star-fill"></i> 5</span>
                    <div class="bar" style="width: 60%; background-color: rgb(127, 255, 212);"></div> <span>2.0k</span>
                </div>
                <div class="rating-bar"><span><i class="bi bi-star-fill"></i> 4</span>
                    <div class="bar" style="width: 30%; background-color: rgb(208, 118, 224);"></div> <span>1.0k</span>
                </div>
                <div class="rating-bar"><span><i class="bi bi-star-fill"></i> 3</span>
                    <div class="bar" style="width: 20%; background-color: yellow;"></div> <span>500</span>
                </div>
                <div class="rating-bar"><span><i class="bi bi-star-fill"></i> 2</span>
                    <div class="bar" style="width: 5%; background-color: blue;"></div> <span>200</span>
                </div>
                <div class="rating-bar"><span><i class="bi bi-star-fill"></i> 1</span>
                    <div class="bar" style="width: 0%; background-color: red;"></div> <span>0</span>
                </div>
            </div>
        </div>
    </div>

    <hr class="m-1">

    <div class="review">
        <div class="review-header">
            <div class="profile-pic">
                <img src="/Rating-Reviews-img/profile.jpg" alt="">
            </div>
            <div>
                <p class="name">Sarah Thompson</p>
                <p class="date">12-09-2024</p>
            </div>
        </div>
        <div class="review-body">
            <p class="stars pt-1"> 
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                
                <span style="padding: 10px;">5.0</span>
            </p>
            <p class="review-text">kevin's photos of our family reunion were fantastic! He has a knack for capturing
                genuine moments and made everyone feel at ease. We're thrilled with the results!</p>
        </div>
        <div class="review-buttons p-1">
            <button class="btn">Direct Message</button>
        </div>
    </div>

    <div class="review">
        <div class="review-header">
            <div class="profile-pic">
                <img src="/Rating-Reviews-img/profile.jpg" alt="">
            </div>
            <div>
                <p class="name">Sarah Thompson</p>
                <p class="date">12-09-2024</p>
            </div>
        </div>
        <div class="review-body">
            <p class="stars"> <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i> 
                <span style="padding: 10px;">5.0</span>
            </p>
            <p class="review-text">kevin's photos of our family reunion were fantastic! He has a knack for capturing
                genuine moments and made everyone feel at ease. We're thrilled with the results!</p>
        </div>
        <div class="review-buttons"> 
            <button class="btn">Direct Message</button>
        </div>
    </div>

    <div class="review">
        <div class="review-header">
            <div class="profile-pic">
                <img src="/Rating-Reviews-img/profile.jpg" alt="">
            </div>
            <div>
                <p class="name">Sarah Thompson</p>
                <p class="date">12-09-2024</p>
            </div>
        </div>
        <div class="review-body">
            <p class="stars"> <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                 <span style="padding: 10px;">5.0</span>
            </p>
            <p class="review-text">kevin's photos of our family reunion were fantastic! He has a knack for capturing
                genuine moments and made everyone feel at ease. We're thrilled with the results!</p>
        </div>
        <div class="review-buttons">
            <button class="btn">Direct Message</button>
        </div>
    </div>
</div>
