<div class="table-container">
    <input type="text" placeholder="Search..." class="form-control mb-3" />
  
    <div class="table-container">
      <h2>All Requests</h2>
      <table class="table table-hover table-bordered shadow-lg">
        <thead class="custom-thead">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let request of requests">
            <td>{{ request.id }}</td>
            <td>{{ request.date }}</td>
            <td>
              <button class="buttonv" (click)="openModal(request)">View</button>
            </td>
            <td>
              <button class="button">Accept</button>
              <button class="buttonr">Reject</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <!-- MODAL (POPUP) -->
  <div *ngIf="selectedRequest" class="modal-overlay">
    <div class="modal-content">
      <h3>Request Details</h3>
      <p><strong>ID:</strong> {{ selectedRequest.id }}</p>
      <p><strong>Date:</strong> {{ selectedRequest.date }}</p>
      <p><strong>Status:</strong> Pending</p>
      <button (click)="closeModal()">Close</button>
    </div>
  </div>
  