<div class="table-container" style="margin-top: 70px">
  <div class="filter-controls">
    <div
      class="row g-2 mb-4 filter-buttons justify-content-center align-items-center"
    >
      <div class="col-auto mb-3">
        <label class="form-label ps-2"><h6>Supplier Name</h6></label>
        <input
          type="text"
          placeholder="Search by Supplier..."
          class="form-control"
          [(ngModel)]="filter.searchCustomer"
        />
      </div>

      
      <div class="col-auto mb-3">
        <label class="form-label ps-2"><h6>Date</h6></label>
        <input
          type="date"
          placeholder="Date"
          class="form-control"
          [(ngModel)]="filter.Date"
        />
      </div>

      <!-- <div class="col-auto mb-3">
        <label class="form-label ps-2"><h6>End Date</h6></label>
        <input 
          type="date" 
          placeholder="End Date" 
          class="form-control"
          [(ngModel)]="filter.endDate"
        />
      </div> -->

      <div class="col-auto mb-3">
        <label class="form-label ps-2"><h6>Min Amount</h6></label>
        <input
          type="number"
          placeholder="-"
          class="form-control"
          [(ngModel)]="filter.minAmount"
        />
      </div>

      <div class="col-auto mb-3">
        <label class="form-label ps-2"><h6>Max Amount</h6></label>
        <input
          type="number"
          placeholder="-"
          class="form-control"
          [(ngModel)]="filter.maxAmount"
        />
      </div>

      <div class="col-auto mb-3">
        <label class="form-label ps-2"></label>
        <div>
          <button class="btn btn-secondary mt-2" (click)="clearFilters()">
            Clear Filters
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <table>
      <thead>
        <tr>
          <th scope="col">ID</th>
          <!-- <th scope="col">Date</th> -->
          <th scope="col">BUSINESS NAME</th>
          <th scope="col">PACKAGE NAME</th>
          <th scope="col">PHONE NUMBER</th>
          <th scope="col">AMOUNT</th>
          <th scope="col">NAME</th>
          <th scope="col">EMAIL</th>
          <th scope="col">REMARKS</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of filteredPayments">
          <td>{{ item.id }}</td>
          <!-- <td scope="row">{{item.date}}</td> -->
          <td>{{ item.businessName }}</td>
          <td>{{ item.packageName }}</td>
          <td>{{ item.phoneNumber }}</td>
          <td>{{ item.packagePrice }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.email }}</td>
          <td>
            <div class="button-container">
              <label class="label">
                <input type="checkbox" class="input" (click)="reportEvent(item.id)"/>
                <span class="circle"
                  ><svg
                    class="icon"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.5"
                      d="M12 19V5m0 14-4-4m4 4 4-4"
                    ></path>
                  </svg>
                  <div class="square"></div>
                </span>
                <p class="title">Download</p>
                <p class="title2">Open</p>
              </label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
