<div class="container">
    <h2>Birthday Party Details</h2>
    <form>
        <div class="mb-3">
            <label for="ownerName" class="form-label" >Owner Name</label>
            <input [(ngModel)]="ownerName" name="ownerName" type="text" class="form-control" id="ownerName" placeholder="Enter owner name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input [(ngModel)]="email" name="email" class="form-control" id="email" placeholder="Enter email">
        </div>
        <div class="mb-3">
            <label for="eventDate" class="form-label">Event Date</label>
            <input [(ngModel)]="eventdate" name="eventdate" type="date" class="form-control" id="eventDate">
        </div>
        <div class="mb-3">
            <label for="startTime" class="form-label">Start Time</label>
            <input [(ngModel)]="starttime" name="starttime" type="time" class="form-control" id="startTime">
        </div>
        <div class="mb-3">
            <label for="endTime" class="form-label">End Time</label>
            <input [(ngModel)]="endtime" name="endtime" type="time" class="form-control" id="endTime">
        </div>
     
        <button routerLink="/event/venue-selection" type="submit" class="btn btn-primary" [(onClick)]="confirmButtonClicked()>Submit</button>
    </form>
</div>