<div class="dashboard-container" >
    <div class="card-container" style="display: flex; gap: 10px; justify-content: space-between;">
      <div class="dashboard-card-start" >
        <h5>Total Users</h5>
        <p>1500</p>
      </div>
  
      <div class="dashboard-card">
        <h5>Pending Requests</h5>
        <p>120</p>
      </div>
  
      <div class="dashboard-card">
        <h5>Transactions</h5>
        <p>Rs.25,000</p>
      </div>
  
      <div class="dashboard-card">
        <h5>All Events</h5>
        <p>15</p>
      </div>
    </div>

  <div class="charts-wrapper" style="display: flex; gap: 1rem;">
    <div class="chart-container" style="flex: 1; height: 300px;">
      <h5 style="text-align: center;">Monthly All Events</h5>
      <canvas #barCanvas></canvas>
    </div>
    <div class="chart-container" style="flex: 1; height: 300px;">
      <h5 style="text-align: center;">Weekly All Events</h5>
      <canvas #doughnutCanvas></canvas>
    </div>
  </div>
</div>

    
    
  
    

