<!-- Page Content -->
<div class="content">
    <div class="content">
        <div class="card position-relative">
            <img src="/profile/login.jpg" class="card-img-top" style="height: 200px; object-fit: cover;" alt="Cover Image">
            <div class="profile-image-container position-absolute top-50 start-50 translate-middle">
                <img src="/profile/profile.jpg" class="profile-image rounded-circle border border-white shadow" style="width: 100px; height: 100px; object-fit: cover;" alt="Profile Image">
            </div>
            <div class="card-body text-center mt-5">
                <h5 class="card-title">Ruvidndu</h5>
                <p class="card-text">About customer .</p>
                <a href="#" class="btn btn-primary edit-button" id="btn-edit">Edit Profile</a>
            </div>
        </div>
    </div>
    <div class="card mt-3">
        <form class="form">
            <div class="row ms-5 mt-3">
                <div class="col-md-5 ms-1">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control ms-3" id="firstName" value={{customer.fullName}} disabled>
                </div>
                <div class="col-md-5 ms-xxl-5" >
                    <label for="lastName" class="form-label">email</label>
                    <input type="text" class="form-control ms-3" id="email" value={{customer.email}} disabled>
                </div>
            </div>
            <div class="row mt-3 ms-5">
                <div class="col-md-5 ms-1">
                    <label for="username" class="form-label">phone Number</label>
                    <input type="text" class="form-control ms-3" id="username" value={{customer.phoneNumber}} disabled>
                </div>
                <div class="col-md-5 ms-1  ms-xxl-5">
                    <label for="status" class="form-label">adress</label>
                    <input type="text" class="form-control ms-3 " id="status" value={{customer.address}} disabled>
                </div>
           
                <div class="col-md-5 ms-1  ms-xxl-5">
                    <label for="contact" class="form-label">gender</label>
                    <input type="text" class="form-control ms-3" id="contact" value={{customer.gender}} disabled>
                </div>
            </div>
            
        </form>
    </div>
</div>
