<!-- Page Content -->
<div class="content mt-2">
    <div class="card position-relative w-100">
        <img src="/profile/login.jpg" class="card-img-top" style="height: 200px; object-fit: cover;" alt="Cover Image">
        <div class="position-absolute profile-image-container start-50 top-50 translate-middle">
            <img [src]="customer.profileImgSrc" class="border border-white rounded-circle shadow profile-image" style="width: 100px; height: 100px; object-fit: cover;" alt="Profile Image">
        </div>
        <div class="card-body text-center mt-5">
            <h5 class="card-title">{{ customer.fullName }}</h5>
            <p class="card-text">About Customer</p>
          
            <div id="editButton">
                <button type="button" class="btn btn-outline-primary" (click)="toggleEdit()">
                    {{ isEditing ? 'Update' : 'Edit Profile' }}
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Show Details -->
<div class="card mt-3">
    <form class="form p-4">
        <div class="row">
            <div class="col-md-6">
                <label for="firstName" class="form-label">Full Name</label>
                <input type="text" class="form-control" id="firstName" value="{{customer.fullName}}" [disabled]="!isEditing">
            </div>
            <div class="col-md-6">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" value="{{customer.email}}" [disabled]="!isEditing">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <label for="phoneNumber" class="form-label">Phone Number</label>
                <input type="text" class="form-control" id="phoneNumber" value="{{customer.phoneNumber}}" [disabled]="!isEditing">
            </div>
            <div class="col-md-6">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" id="address" value="{{customer.address}}" [disabled]="!isEditing">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <label for="gender" class="form-label">Gender</label>
                <input type="text" class="form-control" id="gender" value="{{customer.gender}}" [disabled]="!isEditing">
            </div>

            <div class="col-3">
                <label for="fileInput" class="form-label">Profile Image</label>
                <input type="file" class="form-control-file" id="fileInput" (change)="onFileSelected($event)"  [disabled]="!isEditing">
            </div>


        </div>
        
  
    





    </form>
</div>
