#ImgProfile{

    width: 100px;
    height: 100px;
  
    margin-bottom: 20px;
    margin-left: 10px;


}

#uploadfile{
    
    margin-left: 20px;
   margin-top: 40px;

}

#editButton{
    margin-left: 1090px;
    margin-top: -40px;
}