<div class="container  mx-2 position-relative w-100" style="margin-top: 7px; height: 350px;">
  <div class="row mb-2">
    <div class="col-sm-7 pe-0">
      <div class="card shadow pb-4">
        <div class="card-body pb-0">
          <h5 class="card-title evo-card-heading">Pending Events</h5>
          <hr>
          <div *ngFor="let event of limitedEvents">
              <div class="row">
                <div class="col-5 d-flex align-items-center">
                  <p class="my-auto">{{event.name}}</p>
                </div>
                <div class="col-4 d-flex align-items-center">
                  <p class="my-auto">{{event.date}}</p>
                </div>
                <div class="col-3">
                  <span class="badge p-2 rounded-pill text-white evo-bg-primary evo-pending-btn"><i class="m-2 bi bi-circle-fill"></i><p class="d-inline p-2">{{event.status}}</p></span>
                </div>
              </div>
              <hr>
          </div>
        </div>

      </div>

    </div>

    <div class="col-sm-5 h-100">
      <div class="card h-100 shadow">
        <div class="card-body">
          <h5 class="card-title evo-card-heading">Events</h5>
          <hr>
          <div class="container">
            <canvas id="myChart" style="max-height: 250px;"></canvas>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="card shadow mt-3">
    <div class="card-body">
      <h4 class="card-title evo-card-heading" style="font-size: 36px;">Customer Archives</h4>
      <hr>
      <div class="container" style="max-width: 800px;">
        <table class="table table-borderless table-hover">
          <thead class="evo-table-head">
            <tr>
              <th scope="col">Type</th>
              <th scope="col">Date</th>
              <th scope="col" style="text-align: center">Status</th>
              <th scope="col" colspan="3">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of archives">
              <td>{{item.type}}</td>
              <td>{{item.date}}</td>
              <td style="text-align: center">
                <span 
                  [ngClass]="
                    item.status === 'Approved' ? archiveApprovedStyle : 
                    item.status === 'Pending' ? archivePendingStyle : 
                    archiveRejectedStyle
                  ">
                  {{item.status}}
                </span>
              </td>
  
              <!-- <td><span class="badge rounded-pill evo-bg-approved evo-green-text px-3 py-1">{{item.status}}</span></td> -->
              <td>{{item.description}}</td>
            </tr>
  
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
