<div class="container">
    <h1 class="mb-5">Booking Events</h1>
    <table>
        <thead>
            <tr>
                <th>DATE</th>
                <th>NAME</th>
                <th>TYPE</th>
                <th>STATUS</th>
                <th>View Details</th>
                <th>Export</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>21/10/2021</td>
                <td class="name-container">
                    <img src="/Rating-Reviews-img/profile.jpg" alt="" class="profile-img">Theresa Webb
                </td>
                <td>Wedding</td>
                <td><span class="status confirmed">Confirmed</span></td>
                <td><button class="view-btn">View</button></td>
                <td><button class="export-btn">Export PDF</button></td>
            </tr>
            <tr>
                <td>21/10/2021</td>
                <td class="name-container">
                    <img src="/Rating-Reviews-img/profile.jpg" alt="" class="profile-img">Abel Jaskolski
                </td>
                <td>Birthday</td>
                <td><span class="status confirmed">Confirmed</span></td>
                <td><button class="view-btn">View</button></td>
                <td><button class="export-btn">Export PDF</button></td>
            </tr>
            <tr>
                <td>21/10/2021</td>
                <td class="name-container">
                    <img src="/Rating-Reviews-img/profile.jpg" alt="" class="profile-img">Theresa Webb
                </td>
                <td>Wedding</td>
                <td><span class="status confirmed">Confirmed</span></td>
                <td><button class="view-btn">View</button></td>
                <td><button class="export-btn">Export PDF</button></td>
            </tr>
            <tr>
                <td>21/10/2021</td>
                <td class="name-container">
                    <img src="/Rating-Reviews-img/profile.jpg" alt="" class="profile-img">Abel Jaskolski
                </td>
                <td>Get Together</td>
                <td><span class="status cancelled">Cancelled</span></td>
                <td><button class="view-btn">View</button></td>
                <td><button class="export-btn">Export PDF</button></td>
            </tr>
            <tr>
                <td>21/10/2021</td>
                <td class="name-container">
                    <img src="/Rating-Reviews-img/profile.jpg" alt="" class="profile-img">Theresa Webb
                </td>
                <td>Birthday</td>
                <td><span class="status confirmed">Confirmed</span></td>
                <td><button class="view-btn">View</button></td>
                <td><button class="export-btn">Export PDF</button></td>
            </tr>
        </tbody>

    </table>
</div>
