body {
    font-family: 'Poppins', sans-serif;
    background: #f4f7fc;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 85%;
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    transition: 0.3s;
    margin-bottom: 25px;
}

.container:hover {
    transform: scale(1.01);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
    border-radius: 12px;
    overflow: hidden;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    font-size: 16px;
}

th {
    background: linear-gradient(90deg, #6662e0, #bf65d8);
    color: rgb(252, 251, 251);
    font-weight: bold;
    text-transform: uppercase;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: rgba(142, 36, 170, 0.1);
    transition: 0.3s ease;
}

.status {
    padding: 6px 14px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 14px;
    color: rgb(253, 251, 251);
    display: inline-block;
    text-align: center;
}

.confirmed {
    background-color: #32a852;
}

.cancelled {
    background-color: #dc3545;
}

.view-btn, .export-btn {
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.view-btn {
    background: #2962FF;
    color: white;
}

.view-btn:hover {
    background: #1e4acc;
}

.export-btn {
    background: #8E24AA;
    color: white;
}

.export-btn:hover {
    background: #6a1b9a;
}


.profile-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 12px;
    border: 2px solid #2962FF;
}

.name-container {
    display: flex;
    align-items: center;
}


.alert-box {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background: white;
    border-radius: 8px;
    z-index: 1000;
    text-align: center;
}

.close-btn {
    background-color: #dc3545;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.close-btn:hover {
    background-color: #c82333;
}
