<div class="container">
    <h2>Get Togehter Details</h2>
    <form>
        
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email">
        </div>
        <div class="mb-3">
            <label for="eventDate" class="form-label">Event Date</label>
            <input type="date" class="form-control" id="eventDate">
        </div>

        <div class=" mb-3">
            <label for="capacity" class="form-label">Capacity</label>
            <input type="number" class="form-control" id="capacity" placeholder="Enter Capacity">
          </div>

          <div class=" mb-3">
            <label for="budgetType" class="form-label">Budget Type</label>
            <select class="form-select" id="budgetType">
              <option value="LOW">Low</option>
              <option value="MEDIUM">Medium</option>
              <option value="HIGH">High</option>
            </select>
          </div>
        
        
     
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>