.table-container {
    margin-top: 70px;
    padding: 15px;
    background: linear-gradient(135deg, #f8f9fa, #e9ecef);
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .table {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
  }
  
  
  .table-hover tbody tr:hover {
    background-color: rgba(52, 58, 64, 0.1);
  }
  
  .table th, .table td {
    text-align: center;
  }
  
  .shadow-lg {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
 
.table-bordered {
  border: 1px solid #a7a2a7; 
}

.table-bordered th, .table-bordered td {
  border: 1px solid #d8d5d8 !important; 
}