<div class="table-container">
    <input 
    type="text" 
    placeholder="Search..." 
    class="form-control mb-3"
  />
    <table class="table table-hover table-bordered shadow-lg">
      <thead class="table-dark">
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Transection ID</th>
          <th scope="col">Description</th>
          <th scope="col">Amount</th>
          <th scope="col">Payment type</th>
          <th scope="col">Confirmation</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">2022/4/5</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>confirm</td>
          <td>confirm</td>
          <td>confirm</td>
        </tr>
        <tr>
          <th scope="row">2022/4/5</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>Pending</td>
          <td>Pending</td>
          <td>Pending</td>
        </tr>
        <tr>
          <th scope="row">2022/4/5</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>Pending</td>
          <td>Pending</td>
          <td>Pending</td>
        </tr>
        <tr>
          <th scope="row">2022/4/5</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>Pending</td>
          <td>Pending</td>
          <td>Pending</td>
        </tr>
        <tr>
          <th scope="row">2022/4/5</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>Pending</td>
          <td>Pending</td>
          <td>Pending</td>
        </tr>
        <tr>
          <th scope="row">2022/4/5</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>Pending</td>
          <td>Pending</td>
          <td>Pending</td>
        </tr>
        <tr>
          <th scope="row">2022/4/5</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>Pending</td>
          <td>Pending</td>
          <td>Pending</td>
        </tr>
      
      </tbody>
    </table>
  </div>
