<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum facilis accusantium ipsa fuga dolorum minus asperiores? Laborum iusto, ut harum ratione molestiae neque est sequi modi! Minus harum debitis mollitia.
Veniam ex eius quis molestiae voluptates at voluptatem aperiam dolor? Minus et repellat asperiores laboriosam, labore perferendis natus tenetur adipisci. Repudiandae ducimus magnam accusantium nam, quis nisi iure accusamus ullam.
Voluptates distinctio explicabo odit ratione animi nobis, a, ab maiores perferendis asperiores, excepturi corporis hic debitis. Quos id, delectus, et dolorem consequatur alias dicta sunt fugiat provident facilis incidunt tempore!
Voluptatibus vitae cupiditate assumenda odio, ducimus eligendi laboriosam iure illo mollitia quo officiis facere pariatur sequi natus, perferendis nobis amet veniam voluptas illum perspiciatis error ipsam aspernatur delectus? Ipsam, amet?
Maxime voluptatibus sunt ex ducimus harum est nostrum explicabo pariatur sed laudantium magnam fuga accusamus tempora quos dolorum sequi reprehenderit, sit doloremque soluta ea. Repellendus provident molestias doloribus impedit dolores?</p>
<button routerLink="/event/event-selection">Create Event</button>

<p>all events</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, enim? Sapiente vitae pariatur delectus ab unde iusto exercitationem, molestiae aut voluptatum voluptas voluptatibus voluptates, blanditiis ut eligendi fugiat numquam facilis!</p> -->
<!-- <div class="row">
    <div class="col">
        <div id="carouselExampleDark" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
              <div class="active carousel-item" data-bs-interval="10000">
                <img src="https://image.slidesdocs.com/responsive-images/background/birthday-party-balloon-decoration-powerpoint-background_73a8803f48__783_440.jpg" class="d-block h-50 w-100" alt="...">
                <div class="d-md-block d-none carousel-caption">
                  <h5>Birthday Party</h5>
                  <p>for simplify the planning and execution of birthday celebrations</p>
                  <button type="button" class="btn bg-primary">Create</button>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="https://image.slidesdocs.com/responsive-images/background/birthday-party-balloon-decoration-powerpoint-background_73a8803f48__783_440.jpg" class="d-block w-100" alt="...">
                <div class="d-md-block d-none carousel-caption">
                  <h5>Wedding</h5>
                  <p>for planning, coordination, and execution of weddings.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="https://image.slidesdocs.com/responsive-images/background/birthday-party-balloon-decoration-powerpoint-background_73a8803f48__783_440.jpg" class="d-block w-100" alt="...">
                <div class="d-md-block d-none carousel-caption">
                  <h5>Get Together</h5>
                  <p>for planning and coordination of social gatherings.</p>
                </div>
              </div>
            <div class="carousel-item">
              <img src="https://image.slidesdocs.com/responsive-images/background/birthday-party-balloon-decoration-powerpoint-background_73a8803f48__783_440.jpg" class="d-block w-100" alt="...">
              <div class="d-md-block d-none carousel-caption">
                <h5>Anniversary</h5>
                <p>for planning and organization of anniversary celebrations.</p>
              </div>
            </div>
          </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
</div> 
-->
<div class="row">
    

<div class="col-lg-6">
    <div class="row">
        <div class="col">
            <div id="carouselExampleDark" class="carousel carousel-dark slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                  <div class="active carousel-item" data-bs-interval="10000">
                    <img src="https://image.slidesdocs.com/responsive-images/background/birthday-party-balloon-decoration-powerpoint-background_73a8803f48__783_440.jpg" class="d-block h-50 w-100" alt="...">
                    <div class="d-md-block d-none carousel-caption">
                      <h5>Birthday Party</h5>
                      <p>for simplify the planning and execution of birthday celebrations</p>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="https://image.slidesdocs.com/responsive-images/background/birthday-party-balloon-decoration-powerpoint-background_73a8803f48__783_440.jpg" class="d-block w-100" alt="...">
                    <div class="d-md-block d-none carousel-caption">
                      <h5>Wedding</h5>
                      <p>for planning, coordination, and execution of weddings.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="https://image.slidesdocs.com/responsive-images/background/birthday-party-balloon-decoration-powerpoint-background_73a8803f48__783_440.jpg" class="d-block w-100" alt="...">
                    <div class="d-md-block d-none carousel-caption">
                      <h5>Get Together</h5>
                      <p>for planning and coordination of social gatherings.</p>
                    </div>
                  </div>
                <div class="carousel-item">
                  <img src="https://image.slidesdocs.com/responsive-images/background/birthday-party-balloon-decoration-powerpoint-background_73a8803f48__783_440.jpg" class="d-block w-100" alt="...">
                  <div class="d-md-block d-none carousel-caption">
                    <h5>Anniversary</h5>
                    <p>for planning and organization of anniversary celebrations.</p>
                  </div>
                </div>
              </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </div> 
</div>
<div class="col-lg-6">
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi et similique dolore deleniti rem minima nam asperiores autem omnis, ipsum laboriosam. Neque iste saepe fugit magnam odio sunt molestiae quis!</p>
<div class="text-center">
    <button type="button" class="btn bg-primary">Create</button>
</div>
    
</div>
</div>

<div class="row">
  <app-event-card *ngFor="let event of eventDetails" [eventDetails]="event"></app-event-card>
</div>