<div class="container mb-5 mt-5 pb-5">
  <!-- breadCrumb -->
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Select Your Event Type</li>
      </ol>
  </nav>

  <h1>Choose Your Event Type</h1>
  <p>Select the perfect event to plan and manage effortlessly.</p>

  <div class="row">
      <div class="col-6">
          <div class="card mb-3 EventCard" style="max-width: 540px;">
              <div class="row no-gutters">
                  <div class="col-4">
                      <img src="/event-selection-images/card1.png" class="card-img" alt="card1 Image">
                  </div>
                  <div class="col-8">
                      <div class="card-body">
                          <h5 class="card-title">Wedding</h5>
                          <p class="card-text">for planning, coordination, and execution of weddings.</p>
                          <a routerLink="/event/venue-selection" class="btn btn-primary" role="button">Plan a Wedding</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-6">
          <div class="card mb-3 EventCard" style="max-width: 540px;">
              <div class="row no-gutters">
                  <div class="col-4">
                      <img src="/event-selection-images/card2.png" class="card-img" alt="card2 Image">
                  </div>
                  <div class="col-8">
                      <div class="card-body">
                          <h5 class="card-title">Birthday Party</h5>
                          <p class="card-text">for simplify the planning and execution of birthday celebrations.
                          </p>
                          <a href="#" class="btn btn-primary" role="button">Plan a Birthday Party</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-6">
          <div class="card mb-3 EventCard" style="max-width: 540px;">
              <div class="row no-gutters">
                  <div class="col-4">
                      <img src="/event-selection-images/card3.png" class="card-img" alt="card3 Image">
                  </div>
                  <div class="col-8">
                      <div class="card-body">
                          <h5 class="card-title">Get Together</h5>
                          <p class="card-text">for planning and coordination of social gatherings.</p>
                          <a href="#" class="btn btn-primary" role="button">Plan Get Together</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-6">
          <div class="card mb-3 EventCard" style="max-width: 540px;">
              <div class="row no-gutters">
                  <div class="col-4">
                      <img src="/event-selection-images/card4.png" class="card-img" alt="card4 Image">
                  </div>
                  <div class="col-8">
                      <div class="card-body">
                          <h5 class="card-title">Anniversary</h5>
                          <p class="card-text">for planning and organization of anniversary celebrations.</p>
                          <a href="#" class="btn btn-primary" role="button">Plan Anniversary</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
