<div class="container mb-5 mt-5 pb-5">
    
  <h1>Choose Your Event Type</h1>
  <p>Whether you're planning a joyous wedding, an unforgettable birthday party, a memorable get-together, or a special anniversary celebration, our website offers you all the tools and support you need to organize and manage every detail effortlessly. From venue selection to event coordination, we make the entire planning process simple and stress-free, helping you create lasting memories with ease. Let us guide you through every step, ensuring your event is a complete success</p>

  <div class="row">
      <div class="col-6">
          <div class="card mb-3 EventCard" style="max-width: 540px;">
              <div class="row no-gutters">
                  <div class="col-4">
                      <img src="/event-selection-images/card1.png" class="card-img" alt="card1 Image">
                  </div>
                  <div class="col-8">
                      <div class="card-body">
                          <h5 class="card-title">Wedding</h5>
                          <p class="card-text">for planning, coordination, and execution of weddings.</p>
                          <a routerLink="/event/wedding-form" class="btn btn-primary" role="button">Plan a Wedding</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-6">
          <div class="card mb-3 EventCard" style="max-width: 540px;">
              <div class="row no-gutters">
                  <div class="col-4">
                      <img src="/event-selection-images/card2.png" class="card-img" alt="card2 Image">
                  </div>
                  <div class="col-8">
                      <div class="card-body">
                          <h5 class="card-title">Birthday Party</h5>
                          <p class="card-text">for simplify the planning and execution of birthday celebrations.
                          </p>
                          <a routerLink="/event/birthday-party-form" class="btn btn-primary" role="button">Plan a Birthday Party</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-6">
          <div class="card mb-3 EventCard" style="max-width: 540px;">
              <div class="row no-gutters">
                  <div class="col-4">
                      <img src="/event-selection-images/card3.png" class="card-img" alt="card3 Image">
                  </div>
                  <div class="col-8">
                      <div class="card-body">
                          <h5 class="card-title">Get Together</h5>
                          <p class="card-text">for planning and coordination of social gatherings.</p>
                          <a routerLink="/event/get-together-form" class="btn btn-primary" role="button">Plan Get Together</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-6">
          <div class="card mb-3 EventCard" style="max-width: 540px;">
              <div class="row no-gutters">
                  <div class="col-4">
                      <img src="/event-selection-images/card4.png" class="card-img" alt="card4 Image">
                  </div>
                  <div class="col-8">
                      <div class="card-body">
                          <h5 class="card-title">Anniversary</h5>
                          <p class="card-text">for planning and organization of anniversary celebrations.</p>
                          <a routerLink="/event/anniversary-form" class="btn btn-primary" role="button">Plan Anniversary</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
