<div class="table-container" style="margin-top: 70px;">


  <div class="filter-controls">
    <div class="row">
      <div class="col-auto mb-3">
        <label class="form-label ps-2"><h6>Supplier Name</h6></label>
        <input 
          type="text" 
          placeholder="Search by Supplier..." 
          class="form-control"
          [(ngModel)]="filter.searchSupplier"
        />
      </div>
      <div class="col-auto mb-3">
        <label class="form-label ps-2"><h6>Start Date</h6></label>
        <input 
          type="date" 
          placeholder="Start Date" 
          class="form-control"
          [(ngModel)]="filter.startDate"
        />
      </div>
      <div class="col-auto mb-3">
        <label class="form-label ps-2"><h6>End Date</h6></label>
        <input 
          type="date" 
          placeholder="End Date" 
          class="form-control"
          [(ngModel)]="filter.endDate"
        />
      </div>
      <div class="col-auto mb-3">
        <label class="form-label ps-2"><h6>Min Amount</h6></label>
        <input 
          type="number" 
          placeholder="-" 
          class="form-control"
          [(ngModel)]="filter.minAmount"
        />
      </div>
      <div class="col-auto mb-3">
        <label class="form-label ps-2"><h6>Max Amount</h6></label>
        <input 
          type="number" 
          placeholder="-" 
          class="form-control"
          [(ngModel)]="filter.maxAmount"
        />
      </div>
      <div class="col-auto mb-3">
        <label class="form-label ps-2"></label>
        <div>
          <button class="btn btn-secondary mt-2" (click)="clearFilters()">
            Clear Filters
          </button>
        </div>
      </div>
    </div>

    
    <div class="table-responsive mt-4">
      <table class="table table-hover table-bordered shadow-lg">
        <thead class="table-dark">
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Transaction ID</th>
            <th scope="col">Supplier</th>
            <th scope="col">Supplier Type</th>
            <th scope="col">Amount</th>
            <th scope="col">Remarks</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of filteredPayments">
            <td>{{item.date}}</td>
            <td>{{item.transactionId}}</td>
            <td>{{item.supplier}}</td>
            <td>{{item.supplierType}}</td>
            <td>{{item.amount}}</td>
            <td>{{item.remarks}}</td>
            <td>
              <a href="#"><img src="/payments-customer/receipt_print.png" alt="print receipt" style="height: 30px;" title="Print Receipt"></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
