    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Profile Section -->
      <div class="profile">
          <img src="https://randomuser.me/api/portraits/women/44.jpg" alt="User">
          <h3>Aster Seawalker</h3>
          <p>asterseawalkergmail.com</p>
      </div>

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
          <li><a routerLink="/supplier/dashboard/" class="sidebar-link"><i class="bi bi-house-door"></i> Dashboard</a></li>
          <li><a routerLink="/supplier/dashboard/profile" class="sidebar-link"><i class="bi bi-person"></i> User</a></li>
          <li><a routerLink="/supplier/dashboard/packages" class="sidebar-link"><i class="bi bi-box-seam"></i> Packages</a></li>
          <li><a routerLink="/supplier/dashboard/all-bookings" class="sidebar-link"><i class="bi bi-calendar-check"></i> Bookings</a></li>
          <li><a routerLink="/supplier/dashboard/add-previous" class="sidebar-link"><i class="bi bi-calendar-check"></i> Add previous</a></li>
          <li><a routerLink="/supplier/dashboard/inventory" class="sidebar-link"><i class="bi bi-archive"></i> Inventory</a></li>
          <li><a routerLink="/supplier/dashboard/blogs" href="#" class="sidebar-link"><i class="bi bi-chat-text"></i> Blogs</a></li>
          <li><a routerLink="/supplier/dashboard/payments" href="#" class="sidebar-link"><i class="bi bi-cash-stack"></i> Payments</a></li>
          <li><a routerLink="/supplier/dashboard/massages" class="sidebar-link"><i class="bi bi-envelope"></i> Messages</a></li>
          <li><a routerLink="/supplier/dashboard/my-reviews" class="sidebar-link"><i class="bi bi-star"></i> Review</a></li>
          <li><a routerLink="" class="sidebar-link"><i class="bi bi-box-arrow-right"></i> Log Out</a></li>
      </ul>

  </div>
