#all-tasks{
    padding-top:60px ;
    
    }
    
    #ongoing-event{
    padding-top: 50px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    
    }

    #live-icon{

width: 20px;
height: 20px;
margin-right: 10px;

    }