#all-tasks{
    padding-top:60px ;
}
    
#ongoing-event{
   
    padding-top: 50px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    
}

#live-icon{

    width: 20px;
    height: 20px;
    margin-right: 10px;

}


.start-time{
    font-size: 12px;
    color: #7d7a7a;
    font-weight: 600;
    margin-right: -210px;
}
.end-time{
    font-size: 12px;
    color: #7d7a7a;
    font-weight: 600;
    margin-right: 10px;
   
}    
.more{
    
    margin-right: 53px;
    font-size: 13px;
    color: #7d7a7a;
    font-weight: 600;
  
}

.status-dot {
    width: 10px; 
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px; 
    
}

.view-details{
    margin: 10px;
    font-size: 13px;
    margin-bottom: 9px !important;
    text-decoration: underline;

}

/* Popup Styles */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 1000px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.status-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}