
.row {
  display: flex;
  justify-content: flex-start; 
  align-items: stretch; 
  max-width: 1300px;
  margin: 0 auto; 
}

.col-12.col-md-4.col-sm-6 {
  flex: 0 0 calc(33.333% - 20px);
  margin: 10px; 
  max-width: calc(33.333% - 20px);
}

@media (max-width: 992px) {
  .col-12.col-md-4.col-sm-6 {
      flex: 0 0 calc(50% - 20px);
      max-width: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .col-12.col-md-4.col-sm-6 {
      flex: 0 0 100%;
      max-width: 100%;
  }
}

.image {
  width: 100%;
  height: 250px; 
  object-fit: cover; 
}