<div class="container">
  <h2 class="text-center my-4">Wedding Agenda</h2>

   <div class="card mb-3" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/Anniversary copel in sun.jpg" class="img-fluid rounded-start" alt="">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Wedding Celebration</h5>
          <p class="card-text">Plan your wedding day efficiently with this structured agenda.</p>
          <h5 class="card-title">08.00 AM</h5>
          <p class="card-text"><small class="text-muted">Live</small></p>
        </div>
      </div>
    </div>
  </div>
     
<div>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">list</th>
            <th scope="col">Start Name</th>
            <th scope="col">Duration</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Wedding Celebration</td>
            <td>19/03/2025 8:00</td>
            <td>1h</td>
            <td><img src="assets/icons8-live-48.png" alt="Live" width="24"></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Wedding Celebration</td>
            <td>19/03/2025 8:00</td>
            <td>2h</td>
            <td><img src="assets/icons8-event-accepted-tentatively-48.png" alt="Live" width="24"></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Wedding Celebration</td>
            <td>19/03/2025 8:00</td>
            <td>1.30h</td>
            <td><img src="assets/icons8-event-accepted-tentatively-48.png" alt="Live" width="24"></td>
          </tr>
        </tbody>
      </table>
</div>