<div class="container mt-3">
  <div class="row">
    <div class="col-sm-7">
      <div class="card shadow pb-4">
        <div class="card-body pb-0">
          <h5 class="card-title evo-card-heading">Pending Events</h5>
          <hr>
          <div class="row">
            <div class="col-5 d-flex align-items-center">
              <p class="my-auto">Birthday Party</p>
            </div>
            <div class="col-4 d-flex align-items-center">
              <p class="my-auto">February 28, 2025</p>
            </div>
            <div class="col-3">
              <span class="badge text-white evo-bg-primary p-2 rounded-pill evo-pending-btn"><i class="bi bi-circle-fill m-2"></i><p class="d-inline p-2">Pending</p></span>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-5 d-flex align-items-center">
              <p class="my-auto">Birthday Party</p>
            </div>
            <div class="col-4 d-flex align-items-center">
              <p class="my-auto">February 28, 2025</p>
            </div>
            <div class="col-3">
              <span class="badge text-white evo-bg-primary p-2 rounded-pill evo-pending-btn"><i class="bi bi-circle-fill m-2"></i><p class="d-inline p-2">Pending</p></span>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-5 d-flex align-items-center">
              <p class="my-auto">Birthday Party</p>
            </div>
            <div class="col-4 d-flex align-items-center">
              <p class="my-auto">February 28, 2025</p>
            </div>
            <div class="col-3">
              <span class="badge text-white evo-bg-primary p-2 rounded-pill evo-pending-btn"><i class="bi bi-circle-fill m-2"></i><p class="d-inline p-2">Pending</p></span>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-5 d-flex align-items-center">
              <p class="my-auto">Birthday Party</p>
            </div>
            <div class="col-4 d-flex align-items-center">
              <p class="my-auto">February 28, 2025</p>
            </div>
            <div class="col-3">
              <span class="badge text-white evo-bg-primary p-2 rounded-pill evo-pending-btn"><i class="bi bi-circle-fill m-2"></i><p class="d-inline p-2">Pending</p></span>
            </div>
          </div>
          <hr>
        </div>
        <a class="evo-primary-text text-center" href="#">See All Events <i class="bi bi-chevron-right"></i></a>
      </div>
      
    </div>

    <div class="col-sm-5">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title evo-card-heading">Pending Events</h5>
          <hr>
          
        </div>
        
      </div>
    </div>
  </div>
  <div class="card mt-3 shadow">
    <div class="card-body">
      <h4 class="card-title evo-card-heading" style="font-size: 36px;">Customer Archives</h4>
      <hr>
      <table class="table table-borderless">
        <thead class="evo-table-head">
          <tr>
            <th scope="col">Type</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
            <th scope="col" colspan="3">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Birthday party</td>
            <td>December 2, 2018</td>
            <td><span class="badge evo-bg-approved evo-green-text px-3 py-1 rounded-pill">Approved</span></td>
            <td>Gold plan</td>
          </tr>
          <tr>
            <td>Wedding</td>
            <td>December 2, 2018</td>
            <td><span class="badge evo-bg-pending evo-pending-text px-3 py-1 rounded-pill">Pending</span></td>
            <td>Bronze plan</td>
          </tr>
          <tr>
            <td>Birthday party</td>
            <td>December 2, 2018</td>
            <td><span class="badge evo-bg-approved evo-green-text px-3 py-1 rounded-pill">Approved</span></td>
            <td>Gold plan</td>
          </tr>
          <tr>
            <td>Birthday party</td>
            <td>December 2, 2018</td>
            <td><span class="badge evo-bg-approved evo-green-text px-3 py-1 rounded-pill">Approved</span></td>
            <td>Gold plan</td>
          </tr>
          <tr>
            <td>Birthday party</td>
            <td>December 2, 2018</td>
            <td><span class="badge evo-bg-rejected evo-rejected-text px-3 py-1 rounded-pill">Rejected</span></td>
            <td>Gold plan</td>
          </tr>
          <tr>
            <td>Birthday party</td>
            <td>December 2, 2018</td>
            <td><span class="badge evo-bg-approved evo-green-text px-3 py-1 rounded-pill">Approved</span></td>
            <td>Gold plan</td>
          </tr>
          <tr>
            <td>Birthday party</td>
            <td>December 2, 2018</td>
            <td><span class="badge evo-bg-pending evo-pending-text px-3 py-1 rounded-pill">Pending</span></td>
            <td>Gold plan</td>
          </tr>
          <tr>
            <td>Birthday party</td>
            <td>December 2, 2018</td>
            <td><span class="badge evo-bg-approved evo-green-text px-3 py-1 rounded-pill">Approved</span></td>
            <td>Gold plan</td>
          </tr>
          <tr>
            <td>Birthday party</td>
            <td>December 2, 2018</td>
            <td><span class="badge evo-bg-approved evo-green-text px-3 py-1 rounded-pill">Approved</span></td>
            <td>Gold plan</td>
          </tr>
          <tr>
            <td>Birthday party</td>
            <td>December 2, 2018</td>
            <td><span class="badge evo-bg-approved evo-green-text px-3 py-1 rounded-pill">Approved</span></td>
            <td>Gold plan</td>
          </tr>
          
        </tbody>
      </table>
    </div>
    
  </div>
