<section class="vh-100"
    style="background: linear-gradient(45deg, rgba(208, 0, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(0, 102, 255, 1) 100% );">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-6 d-none d-md-block">
                            <img src="https://images.pexels.com/photos/1721944/pexels-photo-1721944.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                alt="Event planning" class="img-fluid custom-image" />
                        </div>
                        <div class="col-md-6 col-lg-6 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <h1 class="fw-bold mb-2">Sign Up <span id="headingLogo">EvoPlan</span></h1>
                                    </div>

                                    <div class="d-flex justify-content-center align-items-center mb-4">
                                        <p class="mb-4">Sign up to start planning unforgettable events!</p>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <label for="txtFirstName" style="font-size: 13px; padding-bottom: 5px;">First Name</label>
                                            <input type="text" class="form-control p-2 border-primary border-1" id="txtFirstName" />
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="txtLastName" style="font-size: 13px; padding-bottom: 5px;">Last Name</label>
                                            <input type="text" class="form-control p-2 border-primary border-1" id="txtLastName" />
                                        </div>
                                    </div>

                                    <div class="mb-4">
                                        <label for="txtEmail" style="font-size: 13px; padding-bottom: 5px;">Email
                                            Address</label>
                                        <input type="email" class="form-control p-2 border-primary border-1" id="txtEmail" />
                                    </div>

                                    <div class="mb-3">
                                        <label for="txtPassword"
                                            style="font-size: 13px; padding-bottom: 5px;">Password</label>
                                        <input type="password" class="form-control p-2 border-primary border-1" id="txtPassword" />
                                    </div>

                                    <div class="mb-3">
                                        <label for="txtConfirmPassword"
                                            style="font-size: 13px; padding-bottom: 5px;">Confirm Password</label>
                                        <input type="password" class="form-control p-2 border-primary border-1" id="txtConfirmPassword" />
                                    </div>

                                    <div class="form-check mb-4 d-flex" style="font-size: 14px; ">
                                            <input class="form-check-input border-primary border-1" type="checkbox" id="termsCheck" />
                                            <label class="form-check-label ms-2 " for="termsCheck">I agree to all the <a href="#">Terms</a> and <a href="#">Privacy Policies</a>  </label>
                                    </div>

                                    <div class="d-grid mb-3">
                                        <button type="submit" class="btn btn-primary btn-lg p-2 fw-bold">
                                            Sign Up
                                        </button>
                                    </div>

                                    <p class="text-center" style="font-size: 14px;">
                                        Already have an account? <a href="#">Login</a>
                                    </p>
                                    <div class="d-flex align-items-center mb-4" style="font-size: 14px;">
                                        <hr class="flex-grow-1">
                                        <p class="mx-3 mb-0">Or Sign Up with</p>
                                        <hr class="flex-grow-1">
                                    </div>
                                    <div class="d-flex justify-content-center gap-3">
                                        <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/281/281764.png"
                                                alt="Google"></a>
                                        <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/733/733547.png"
                                                alt="Facebook"></a>
                                        <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/174/174857.png"
                                                alt="LinkedIn"></a>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>