<div class="container mt-4">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Select Your Venue</a></li>
            
        </ol>
    </nav>

    <h2 class="fw-bold">Select Your venue</h2>
    <p class="text-muted">Select from a range of stunning venues to match your event's style</p>

    <div class="row g-2 mb-4 filter-buttons">
        <div class="col-md-2">
            <label class="form-label fw-bold">Start Date</label>
            <input type="date" class="form-control">
        </div>
        
        <div class="col-md-2">
            <label class="form-label fw-bold">Start Time</label>
            <input type="time" class="form-control">
        </div>
        <div class="col-md-2">
            <label class="form-label fw-bold">End Time</label>
            <input type="time" class="form-control">
        </div>
        <div class="col-md-2">
            <label class="form-label fw-bold">Popularity</label>
            <select class="form-select">
                <option selected>Most Popular</option>
                <option>Least Popular</option>
            </select>
        </div>
        <div class="col-md-2">
            <label class="form-label fw-bold">Location</label>
            <select class="form-select">
                <option selected>All Locations</option>
                <option>Matara</option>
                <option>Galle</option>
                <option>Hambanthota</option>
            </select>
        </div>
        <div class="col-md-2">
            <label class="form-label fw-bold">Budget</label>
            <select class="form-select">
                <option selected>Any Budget</option>
                <option>Low</option>
                <option>Medium</option>
                <option>High</option>
            </select>
        </div>
    
    </div>
    </div>

<div class="container venue-list">
        
    <div class="card" style="width: 22rem;">
        <img src="https://cdn.pixabay.com/photo/2019/06/21/06/04/the-drink-4288602_1280.jpg" class="card-img-top ratio ratio-4x3" alt="Group photo">
        <div class="card-body">
            <h5 class="card-title fw-bold">Shangri-La Hotel</h5>
            <p class="mb-1">Starting from: <strong></strong>$1100</p>
            <p><strong>Ratings:</strong> ★★★★★</p>
        </div>
        <div class="card-footer text-center bg-primary">
            <button class="btn btn-primary w-100 text-white fw-bold">Request</button>
        </div>
    </div>

    <div class="card" style="width: 22rem;">
        <img src="https://cdn.pixabay.com/photo/2015/09/22/13/16/hotel-951598_1280.jpg" class="card-img-top ratio ratio-4x3" alt="Group photo">
        <div class="card-body">
            <h5 class="card-title fw-bold">Shangri-La Hotel</h5>
            <p class="mb-1">Starting from: <strong></strong>$1100</p>
            <p><strong>Ratings:</strong> ★★★★★</p>
        </div>
        <div class="card-footer text-center bg-primary">
            <button class="btn btn-primary w-100 text-white fw-bold">Request</button>
        </div>
    </div>

    <div class="card" style="width: 22rem;">
        <img src="https://cdn.pixabay.com/photo/2018/08/06/19/49/design-3588214_1280.jpg" class="card-img-top ratio ratio-4x3" alt="Group photo">
        <div class="card-body">
            <h5 class="card-title fw-bold">Shangri-La Hotel</h5>
            <p class="mb-1">Starting from: <strong></strong>$1100</p>
            <p><strong>Ratings:</strong> ★★★★★</p>
        </div>
        <div class="card-footer text-center bg-primary">
            <button class="btn btn-primary w-100 text-white fw-bold">Request</button>
        </div>
    </div>
    <div class="card" style="width: 22rem;">
        <img src="https://cdn.pixabay.com/photo/2014/08/17/23/45/hotel-420260_1280.jpg" class="card-img-top ratio ratio-4x3" alt="Group photo">
        <div class="card-body">
            <h5 class="card-title fw-bold">Shangri-La Hotel</h5>
            <p class="mb-1">Starting from: <strong></strong>$1100</p>
            <p><strong>Ratings:</strong> ★★★★★</p>
        </div>
        <div class="card-footer text-center bg-primary">
            <button class="btn btn-primary w-100 text-white fw-bold">Request</button>
        </div>
    </div>

    <div class="card" style="width: 22rem;">
        <img src="https://cdn.pixabay.com/photo/2019/07/30/14/12/woman-4373078_1280.jpg" class="card-img-top ratio ratio-4x3" alt="Group photo">
        <div class="card-body">
            <h5 class="card-title fw-bold">Shangri-La Hotel</h5>
            <p class="mb-1">Starting from: <strong></strong>$1100</p>
            <p><strong>Ratings:</strong> ★★★★★</p>
        </div>
        <div class="card-footer text-center bg-primary">
            <button class="btn btn-primary w-100 text-white fw-bold">Request</button>
        </div>
    </div>

    <div class="card" style="width: 22rem;">
        <img src="https://cdn.pixabay.com/photo/2018/04/05/13/08/water-3292794_1280.jpg" class="card-img-top ratio ratio-4x3" alt="Group photo">
        <div class="card-body">
            <h5 class="card-title fw-bold">Shangri-La Hotel</h5>
            <p class="mb-1">Starting from: <strong></strong>$1100</p>
            <p><strong>Ratings:</strong> ★★★★★</p>
        </div>
        <div class="card-footer text-center bg-primary">
            <button class="btn btn-primary w-100 text-white fw-bold">Request</button>
        </div>
    </div>
    <div class="card" style="width: 22rem;">
        <img src="https://cdn.pixabay.com/photo/2019/05/28/00/15/indoors-4234071_1280.jpg" class="card-img-top ratio ratio-4x3" alt="Group photo">
        <div class="card-body">
            <h5 class="card-title fw-bold">Shangri-La Hotel</h5>
            <p class="mb-1">Starting from: <strong></strong>$1100</p>
            <p><strong>Ratings:</strong> ★★★★★</p>
        </div>
        <div class="card-footer text-center bg-primary">
            <button class="btn btn-primary w-100 text-white fw-bold">Request</button>
        </div>
    </div>

    <div class="card" style="width: 22rem;">
        <img src="https://cdn.pixabay.com/photo/2020/05/22/08/17/breakfast-5204352_1280.jpg" class="card-img-top ratio ratio-4x3" alt="Group photo">
        <div class="card-body">
            <h5 class="card-title fw-bold">Shangri-La Hotel</h5>
            <p class="mb-1">Starting from: <strong></strong>$1100</p>
            <p><strong>Ratings:</strong> ★★★★★</p>
        </div>
        <div class="card-footer text-center bg-primary">
            <button class="btn btn-primary w-100 text-white fw-bold">Request</button>
        </div>
    </div> 
    <div class="card" style="width: 22rem;">
        <img src="https://cdn.pixabay.com/photo/2017/06/13/22/41/hotel-2400364_1280.jpg" class="card-img-top ratio ratio-4x3" alt="Group photo">
        <div class="card-body">
            <h5 class="card-title fw-bold">Shangri-La Hotel</h5>
            <p class="mb-1">Starting from: <strong></strong>$1100</p>
            <p><strong>Ratings:</strong> ★★★★★</p>
        </div>
        <div class="card-footer text-center bg-primary">
            <button class="btn btn-primary w-100 text-white fw-bold">Request</button>
        </div>
    </div>

   
</div>

