<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Select Your Venue</a></li>
        </ol>
    </nav>

    <h2 class="fw-bold">Select Your Venue</h2>
    <p class="text-muted">Select from a range of stunning venues to match your event's style</p>

    <div class="row g-2 mb-4 filter-buttons">
        <div class="col-md-2">
            <label class="form-label fw-bold">Start Date</label>
            <input type="date" class="form-control">
        </div>

        <div class="col-md-2">
            <label class="form-label fw-bold">Start Time</label>
            <input type="time" class="form-control">
        </div>
        <div class="col-md-2">
            <label class="form-label fw-bold">End Time</label>
            <input type="time" class="form-control">
        </div>
        <div class="col-md-2">
            <label class="form-label fw-bold">Popularity</label>
            <select class="form-select">
                <option selected>Most Popular</option>
                <option>Least Popular</option>
            </select>
        </div>
        <div class="col-md-2">
            <label class="form-label fw-bold">Location</label>
            <select class="form-select">
                <option selected>All Locations</option>
                <option>Matara</option>
                <option>Galle</option>
                <option>Hambanthota</option>
            </select>
        </div>
        <div class="col-md-2">
            <label class="form-label fw-bold">Budget</label>
            <select class="form-select">
                <option selected>Any Budget</option>
                <option>Low</option>
                <option>Medium</option>
                <option>High</option>
            </select>
        </div>
    </div>
</div>

<div class="container mt-4">
   
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Select Your Venue</a></li>
        </ol>
    </nav>

    <h2 class="fw-bold">Select Your Venue</h2>
    <p class="text-muted">Select from a range of stunning venues to match your event's style</p>

    <div class="row g-2 mb-4 filter-buttons">
        <div class="col-md-2">
            <label class="form-label fw-bold">Start Date</label>
            <input type="date" class="form-control">
        </div>
        <div class="col-md-2">
            <label class="form-label fw-bold">Start Time</label>
            <input type="time" class="form-control">
        </div>
        <div class="col-md-2">
            <label class="form-label fw-bold">End Time</label>
            <input type="time" class="form-control">
        </div>
        <div class="col-md-2">
            <label class="form-label fw-bold">Popularity</label>
            <select class="form-select">
                <option selected>Most Popular</option>
                <option>Least Popular</option>
            </select>
        </div>
        <div class="col-md-2">
            <label class="form-label fw-bold">Location</label>
            <select class="form-select">
                <option selected>All Locations</option>
                <option>Matara</option>
                <option>Galle</option>
                <option>Hambanthota</option>
            </select>
        </div>
        <div class="col-md-2">
            <label class="form-label fw-bold">Budget</label>
            <select class="form-select">
                <option selected>Any Budget</option>
                <option>Low</option>
                <option>Medium</option>
                <option>High</option>
            </select>
        </div>
    </div>
</div>

<div class="container venue-list">
    <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let venue of venue">
            <div class="card" style="width: 22rem;">
                <img [src]="venue.image" class="card-img-top ratio ratio-4x3" [alt]="venue.name">
                <div class="card-body">
                    <h5 class="card-title fw-bold">{{ venue.name }}</h5>
                    <p class="mb-1">Starting from: <strong>${{ venue.price }}</strong></p>
                    <h5 class="card-title fw-bold">{{ venue.location}}</h5>
                    <h5 class="card-title fw-bold">{{ venue.type}}</h5>
                </div>
                <div class="card-footer text-center bg-primary">
                    <button routerLink="/event/event-service-selection" class="btn btn-primary w-100 text-white fw-bold">Request</button>
                </div>
            </div>
        </div>
    </div>
</div>