.title-info {
  padding-block: 0.2rem;
}

.card-cont {
  --card-min-width: 100px;
	--card-max-width: 250px;
  position: relative;
  top: 0;
  left: 0;
  padding-block: 2rem;
  width: 100%;
  height: fit-content;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(clamp(var(--card-min-width), 100%, var(--card-max-width)), 1fr));
  gap: 0.4rem;
  border-top: 2px solid rgba(0, 0, 0, 0.1);

  & .card {
    position: relative;
    margin-block: 0.5rem;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));

    & img {
      max-height: 200px;
      width: 100%;
      object-fit: cover;
    }
	}
}
