<div class="container">
    <h1>Event Summary</h1>

    <!-- Venue Section -->
    <div class="row">
        <h3 class="mt-2">Venue</h3>
        <div class="card border-top-0 EventSummaryCard">
            <div class="row mt-2 mb-2">
                <div class="col-4 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="/event-summary-images/venue.png" class="card-img-top" alt="venue image">
                        <div class="card-body">
                            <h4>The Grand Haven</h4>
                            <p class="card-text">Where Elegance Meets Comfort</p>
                            <h6>Location : The Grand Heaven,456 Beachfront Avenue, Panadura.</h6>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <h3 class="text-dark">Extra Features</h3>
                    <ol class="list-group list-group-flush">
                        <li class="list-group-item">1 Feature 01</li>
                        <li class="list-group-item">2 Feature 02</li>
                        <li class="list-group-item">3 Feature 03</li>
                    </ol>
                </div>
                <div class="col-2 align-self-end">
                    <h5 class="text-dark">Total Fee :</h5>
                    <h5 class="text-dark">Rs: 2,500,000</h5>
                </div>
            </div>
        </div>
    </div>

        <!-- Add Another Section -->
        <div class="row mt-5">
          <div class="card border-top-0 EventSummaryCard">
            <div class="aas-txt-row">
              <h5 class="text-content-aas">Enhance your event by adding more suppliers! More suppliers mean a greater variety of services, making your event more engaging and memorable for attendees</h5>
            </div>
            <div class="aas-btn-row">
              <button class="btn btn-primary btn-lg" routerLink="/supplier"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path
                  d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
              </svg>
              Add Supplier&nbsp;&nbsp;
              </button>
              <br>
              <br>
            </div>
          </div>
      </div>



    <div class="bottom-spacing"></div>

    <div class="row mt-5 fixed-bottom bg-light p-2" id="footerFixed">
        <div class="col-6">
            <h5 class="">Total Charges :</h5>
            <h5>Rs: 2,600,000</h5>
        </div>
        <div class="col-6 d-flex align-items-end justify-content-end">
            <button routerLink="/event/agenda" type="button" class="btn btn-primary" id="btnConf">Confirm</button>
        </div>
    </div>
</div>
